 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
 }

 body {
  width: 100%;
  overflow-x: hidden;
 }

 @keyframes animateDown {
    0% {
      transform: translateY(0px)
    }

    50% {
      transform: translateY(5px);
    }

    100% {
      transform: translateY(0px);
    }
 }